@define-color bg #030712;
@define-color fg #f3f4f6;
@define-color accent #ff637e;
@define-color warning #ffba00;
@define-color border #364153;
@define-color bg-hover #1f2937;
@define-color bg-selected #364153;

* {
  font-family: "ComicShannsMono Nerd Font Mono";
  font-weight: 800;
  border-radius: 0;
  box-shadow: none;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  background: @bg-hover;
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .close-button {
  background: @bg;
  color: @fg;
  text-shadow: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid @border;
  min-width: 24px;
  min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
  background: @accent;
  color: @bg;
  border-color: @accent;
}

.notification-row .notification-background .notification {
  border: 1px solid @border;
  padding: 0;
  transition: background 0.15s ease-in-out;
  background: @bg;
}

.notification-row .notification-background .notification.low {
  border-color: @border;
}

.notification-row .notification-background .notification.normal {
  border-color: @accent;
}

.notification-row .notification-background .notification.critical {
  border-color: @warning;
  background: @warning;
  color: @bg;
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  background: transparent;
  border: none;
  color: @fg;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-effect: none;
  background: @bg-hover;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-effect: none;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: 16px;
  font-weight: 800;
  background: transparent;
  color: @fg;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: 16px;
  font-weight: 800;
  background: transparent;
  color: @fg;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: 15px;
  font-weight: 800;
  background: transparent;
  color: @fg;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  margin-top: 4px;
  background-color: @fg;
  -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: @bg;
  color: @fg;
  caret-color: @accent;
  border: 1px solid @border;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: @bg;
  border: 1px solid @border;
  color: @fg;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: @bg-hover;
}

.notification-row .notification-background .notification .notification-action {
  border-top: 1px solid @border;
  border-right: 1px solid @border;
}

.notification-row .notification-background .notification .notification-action:last-child {
  border-right: none;
}

.control-center {
  background: @bg;
  color: @fg;
  border: 1px solid @border;
}

.control-center .control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: none;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @bg-hover;
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/*** Widgets ***/
.widget-title {
  color: @fg;
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: initial;
  color: @fg;
  text-shadow: none;
  background: @bg;
  border: 1px solid @border;
}

.widget-title > button:hover {
  background: @accent;
  color: @bg;
  border-color: @accent;
}

.widget-dnd {
  color: @fg;
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  background: @bg;
  border: 1px solid @border;
}

.widget-dnd > switch:checked {
  background: @accent;
  border-color: @accent;
}

.widget-dnd > switch slider {
  background: @fg;
}

.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-mpris {
  background-color: @bg;
  color: @fg;
}

.widget-mpris .widget-mpris-player {
  padding: 16px;
  margin: 16px 20px;
  background-color: @bg;
  border: 1px solid @border;
}

.widget-mpris .widget-mpris-player button:hover {
  background: @bg-hover;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border: 1px solid @border;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: 800;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  background-color: @bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @bg;
  border: 1px solid @border;
  margin: 4px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @accent;
  color: @bg;
  border-color: @accent;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  background-color: @bg;
  padding: 8px;
  margin: 8px;
  border: 1px solid @border;
}

.widget-volume > box > button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: @bg;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border: 1px solid @border;
}

.widget-backlight {
  background-color: @bg;
  padding: 8px;
  margin: 8px;
  border: 1px solid @border;
}

.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: @fg;
  text-shadow: none;
  background: @bg;
  border: 1px solid @border;
}

.widget-inhibitors > button:hover {
  background: @accent;
  color: @bg;
  border-color: @accent;
}
